[submodule "client/include/websocketpp"]
	path = client/include/websocketpp
	url = git@github.com:zaphoyd/websocketpp.git
[submodule "client/include/json"]
	path = client/include/json
	url = git@github.com:nlohmann/json.git
[submodule "client/include/HTTPRequest"]
	path = client/include/HTTPRequest
	url = git@github.com:elnormous/HTTPRequest.git
